<% client = @client || @client %>
<% context ||= client %>
<% collection ||= :agreements %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: agreement do %>
  <tr data-id="<%= agreement.id %>" class="group">
    <%= render "shared/tables/checkbox", object: agreement %>
    <td><%= render 'shared/attributes/belongs_to', attribute: :creator, url: [:account, agreement] %></td>
    <td><%= render 'shared/attributes/number', attribute: :year %></td>
    <td><%= render 'shared/attributes/option', attribute: :status %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, agreement %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, agreement], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, agreement %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, agreement], method: :delete, data: { turbo_confirm: t('.buttons.confirmations.destroy', model_locales(agreement)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
