<% cancel_path ||= client.persisted? ? [:account, client] : [:account, @team, :clients] %>

<%= form_with model: client, url: (client.persisted? ? [:account, client] : [:account, @team, :clients]), class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/super_select', method: :creator_id, options: {autofocus: true}, html_options: {autofocus: true},
        choices: @client.valid_creators.map { |membership| [membership.label_string, membership.id] } %>
      <%= render 'shared/fields/text_field', method: :business_name %>
      <%= render 'shared/fields/text_field', method: :ein %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
